{% extends 'base.html' %}
{% load static %}

{% block titre_page %} INSCRIPTION {% endblock %}

{% block header_content %} 
<div style="height: 100px;"></div>
{% endblock %}

{% block main_content %}
    {% if messages %}
        {% for message in messages %}
            <h6 class="message_erreur">{{ message }}</h6>
        {% endfor %}
    {% endif %}
    <div class="sign">
        <div class="sign1">
            <h4 class="mb-3">Enregistrez-vous  gratuitement et acceder à plus de possibilités !</h4>
            <h5 class="mb-3">Veillez à bien remplir les champs, puis validez.</h4>
        </div>
        <div class="sign2">
            <form action="" method="post">{% csrf_token %}
                <div>
                    <label for="id_email"><h6>Entrez votre adresse e-mail</h6></label><br>
                    {{ registration_form.email }}
                </div>
                <div>
                    <label for="id_username"><h6>Entrez votre nom d'utilisateur</h6></label><br>
                    {{ registration_form.username }}
                </div>
                <div>
                    <label for="id_password1"><h6>Entrez votre mot de passe</h6></label><br>
                    {{ registration_form.password1 }}
                </div>
                <div>
                    <label for="id_password2"><h6>Confirmez votre mot de passe</h6></label><br>
                    {{ registration_form.password2 }}
                </div>
                <div>
                    <input type="submit" value="Valider">
                </div>
            </form>
        </div>
    </div>
{% endblock %}