{% extends 'base.html' %}
{% load static %}

{% block header_content %} 
<div class="p-5 text-center bg-image" style="background-image: url('{% static 'img/img2.jpg' %}');height: 500px;">
	<div class="mask">
		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="text-white">
				<h1 class="mb-3">Bienvenus chez  IFCCA !!</h1>
				<h4 class="mb-3">Partagez vos expériences et gagnez des autres</h4>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block main_content %}

{% endblock %}